.chat {
  position: relative;
  display: flex;

  &__form {
    margin-top: 1rem;
    position: absolute;
    bottom: 0px;
    width: 100%;
  }

  &__input {
    padding: 0.5rem;
    padding-left: 1.5rem;
    width: 13rem;
    width: 100%;
    border: none;
    height: 4rem;
    font-size: 1.2rem;
  }

  &__button {
    position: absolute;
    right: 0px;
    background-color: #ffffff;
    border: none;
  }

  &__send-btn {
    margin-top: 1rem;
    margin-right: 0.5rem;
  }
}
